.limites{
    padding: 47px;
    background-color: #2e2e1f;
}
#navegador{
    background-color: #4c4c34;
}

#navegador ul{
   list-style-type: none;
   text-align: center;
   padding-bottom: 1.4%;
    padding-top: 1.4%;
}

#navegador li{
    font-family: cursive;
    font-size: 170%;
   display: inline;
   text-align: center;
  
}

#navegador ul li span{
    width: 250px;
    height: 100px;
    color: #ebebe0;
    -moz-border-radius: 70%;
    -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
    background-color:#2f2f1e;
    border: 3px solid #c3c3a2;
    padding: 17px 75px;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px double #c3c3a2;

}
#navegador ul li a{
    text-decoration:none;
}

img{
    border: 5px groove #ebebe0;
    padding: 30px;
    height: 350px;
    width: auto;
    margin-left: 5%;
 
}

