body{
    background: black url(fondo.jpg);
    padding-left: 250px;
    padding-right: 150px;
}

h1{
	color: #66b3ff;
	margin:0.25em auto;
	text-align: center;
    padding-top: 50px;
    border-bottom: 5px dotted;
    border-top: 5px dotted;
border-style: solid;
    border-width: 2px 10px 4px 20px;
border-color: #4080bf;

}
span.capital{
  background-color: pink;
  color: red;
  float: left;
  font-family: monospace;
  font-size: 400%;
}
p{
    color: #c2d6d6;
    padding: 5px 5px 5px 5px;
    font-family: tahoma;
    text-align: justify;

}

h2{
  color: red;
}


.foto1 {
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
    float: left;
    width: 150px;
    height: 50px;
}
.foto2 {
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
    float: right;
    width: 150px;
}
.foto3 {
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
    float: left;
    width: 130px;
}
.foto4 {
    padding: 5px;
    margin: 10px;
    border: 10px solid black;
    float: right;
    width: 150px;
}
.foto5 {
    padding: 3px;
    margin: 1px;
    border: 10px ;
    float: left;
    width: 150px;
    height: 110px;
}
.foto6 {
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    float: right;
    width: 150px;
     height: 180px;
}
.foto7 {
    padding: 5px;
    margin: 10px;
    border: 10px solid black;
    float: left;
    width: 150px;
    height: auto;
}
.foto8 {
    padding: 10px;
    margin: 10px;
    border: 10px solid black;
    float: right;
    width: 150px;
    height: 10;
}
.foto9 {
    padding: 0px;
    margin: 20px;
    border: 5px
    float: left;
    width: 1000px;
    height: 100px;
}
