*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #003366;
    padding: 80px 200px 60px 200px;
}

h1{
    color: #809fff;
    padding-bottom: 10px;
    text-align: center;
    font-size: 300%;
    border-style: double;
    border-width: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

}

p{
    color: #0B0B61;
    background-color: #81DAF5;
    font: bold 120% Tahoma;
    padding: 10px 30px 10px 30px;
    text-align: justify;
    letter-spacing: 2px
    line-height: 150%;

}

.charla1{
    font-family: cursive;
    font-size: 130%;
}

h2{
  padding: 5px 5px 5px 5px;
  color: red;
}
