body{
    background: #0a2929;
    padding: 10px 200px 70px 200px;
}
h1{
    text-align: center;
    color: #00ffff;
    font-family: sans-serif;
    font-size: 420%;
    border-style: solid;
    border-width: medium;
    border-color: #e6ffff;

}
h2{
  color: red;
}
p{
    color:#adebeb;;
    font: bold 120% arial;
    padding: 10px 30px 10px 30px;
    text-align: justify;
    letter-spacing: 2px
    line-height: 150%;
}
.capitalLetter
{
   float:left;
   color:#00e6e6;
   font-size:100px;
   line-height:40px;
   padding:10px;
   font-family:tahoma;
   margin-right: 5px;
}
